/*Font */
@font-face {
    font-family: 'Syntax LT Std Roman';
    src: url('public/fonts/SyntaxLTStd-Roman.otf');
}

/*Resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-colour);
}

body {
    font-family: 'Syntax LT Std Roman', sans-serif;
    color: var(--text-colour);
    font-size: var(--font-reg);
    max-width: 1460px;
    margin: auto;
}

/*Variables*/
:root {
    --white: #FFFFFF;
    --green-highlight: #50CFC1;
    --salmon: #FCCBAC;
    --blue-grey: #96A3CF;
    --light-blue-grey: #EAEDF5;
    --green-yellow: #7F8954;
    --green-darkest: #003D2A;
    --green-dark: #397266;
    --green-mid-1: #53857F;
    --green-mid-2: #5F877B;
    --green-light: #AACAC7;
    --green-lightest: #E3EDEC;
    --plum: #986987;
    --text-colour: #1A1A1A;
    --font-reg: 16px;
    --font-reg-1: 17px;
    --font-reg-2: 18px;
    --font-reg-6: 22px;
    --font-med: 25px;
    --font-medx: 30px;
    --font-large: 35px;
    --font-largest: 50px;
    --border-radius: 4px
}

/*Utilities */
.wrapper {
    width: 70%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-2 {
    flex-basis: 49%;
}

.align-c {
    text-align: center;
}

.section-headings {
    font-size: var(--font-large);
    text-align: center;
    margin-bottom: 5rem;
    font-weight: normal;
}

.section-intro-small {
    font-size: var(--font-reg-2);
    text-align: center;
}

.mb-small {
    margin-bottom: 1rem;
}

.see-all-link-container {
    text-align: center;
    margin-top: 3rem;
}

.see-all-link {
    background: var(--salmon);
    display: inline-block;
    height: 45px;
    width: 213px;
    text-align: center;
    line-height: 45px;
}

.view-activity-link {
    background: var(--salmon);
    height: 40px;
    width: 164px;
    line-height: 40px;
    text-align: center;
}

/*Styles */
.header {
    display: flex;
    flex-direction: column;
    height: 745px;
    justify-content: space-between;
    background: url('public/images/background-large.png');
    background-size: cover;
}

.header__wrapper {
    position: relative;
}

.header__logo {
    background: var(--green-mid-1);
    display: inline-block;
    position: absolute;
    left: 15%;
    height: 130px;
    width: 130px;
    padding: 1rem;
}

.header__nav {
    background: var(--white);
    padding-right: 15%;
    letter-spacing: 0.16px;
    height: 50px;
    padding-left: 12%;
    margin-left: 15%;
}

.header__nav--main {
    background: var(--green-light);
    font-size: var(--font-reg-2);
    letter-spacing: 0.18px;
    padding-left: 10%;
}

.header__nav__ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.header__nav li {
    padding: .15rem .6rem;
    border-radius: var(--border-radius);
    margin-left: 1rem;
}

.header__nav li:hover {
    background: var(--green-light);
}

.header__nav--main li {
    margin-left: 2rem;
}

.header__nav--main li:hover {
    background: var(--white);
}

.header__welcome {
    text-align: center;
    font-size: var(--font-largest);
    color: var(--white);
    text-shadow: 0 3px 54px #0000007A;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.header__modal {
    display: none;
}

.header__modal__button {
    display: none;
}

.header__photo-credit {
    align-self: flex-end;
    margin-right: 15%;
    color: var(--white);
    width: 541px;
}

.header__photo-credit__icon {
    background: var(--green-dark);
    padding: .5rem 0 0 .5rem;
}

.header__photo-credit__text {
    padding: 1.5rem 2rem;
    background: var(--green-darkest);
    letter-spacing: 0.16px;
}

.section-one {
    margin-bottom: 5rem;
}

.section-one__intro {
    text-align: center;
    letter-spacing: 0.18px;
    font-size: var(--font-reg-2);
    width: 55%;
    margin: 3.5rem auto;
}

.section-one__background--first {
    background: url('public/images/section-one-background-1.jpg');
    background-size: cover;
}

.section-one__background--second {
    background: url('public/images/section-one-background-2.jpg');
    background-size: cover;
}

.section-one__small {
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-size: var(--font-reg-1);
    letter-spacing: 1.19px;
    color: var(--white);
}

.section-one__large {
    font-size: var(--font-large);
    padding-bottom: 2rem;
    color: var(--white);
    font-weight: normal;
}

.section-one__link {
    font-size: var(--font-reg-2);
    display: inline-block;
    margin-bottom: 3.4rem;
}

.section-one__link--green {
    background: var(--green-highlight);
    padding: .75rem 2rem;
}

.section-one__link--salmon {
    background: var(--salmon);
    padding: .75rem 1rem;
}

.activities {
    background: var(--light-blue-grey);
    padding: 3rem 0;
}

.activities__container {
    justify-content: flex-end;
}

.activities__content {
    margin-bottom: 2rem;
    position: relative;
}

.activities__intro {
    margin: 2rem 0;
    font-size: var(--font-reg-1);
    letter-spacing: 0.68px;
}

.section-two__footprint--one {
    position: absolute;
    left: -30%;
    bottom: 5%;
}

.activities__list {
    list-style: none;
    font-size: var(--font-medx);
    letter-spacing: 0.3px;
    margin-bottom: 2rem;
}

.activities__list li {
    position: relative;
    margin-bottom: .5rem;
}

.activities__list li:hover {
    text-decoration: underline;
    text-decoration-color: var(--green-highlight);
    cursor: pointer;
}

.activities__list li:hover::before {
    content: '';
    position: absolute;
    left: -12%;
    width: 30px;
    height: 30px;
    background: url('public/images/arrow-right.png');
}

.activities__view-all {
    width: 234px;
}

.activities__image {
    background: url('public/images/lambing.jpg');
    background-size: cover;
    flex-basis: 50%;
    margin-left: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

.section-two__footprint--two {
    position: absolute;
    bottom: -15%;
    left: 20%;
}

.section-three {
    margin: 5rem auto;
}

.section-three__carousel {
    position: relative;
}

.section-three__carousel::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 15%;
    background: var(--green-highlight);
    bottom: -2%;
}

.section-three__carousel__item {
    height: 350px;
    width: 250px;
}

.slick-slide {
    margin-right: 18px;
}

.section-three__carousel button.slick-prev, button.slick-next {
    top: 40% !important;
}

.slick-prev:before, .slick-next:before {
    content: url('public/images/arrow-left.png') !important;
    background: var(--salmon);
    border-radius: 50%;
    position: absolute;
    right: 60% !important;
    padding: .25rem;
}

.slick-next:before {
    content: url('public/images/arrow-right.png') !important;
    right: -60% !important;
}

.section-three__carousel__item img {
    width: 100%;
}

.section-three__carousel__item p {
    font-size: var(--font-reg-6);
    letter-spacing: 0.25px;
    margin-top: 1rem;
}

.activities__list--second {
    width: 357px;
}

.section-four__footprint--one {
    position: absolute;
    left: -30%;
    top: 30%;
}

.activities__image--second {
    background: url('public/images/children.jpg');
    background-size: cover;
}

.section-four__footprint--two {
    position: absolute;
    top: -8%;
    right: 5%;
}

.section-five {
    margin: 5rem auto;
}

.section-five__events {
    margin-top: 3rem;
}

.section-five__event {
    width: 32%;
}

.section-five__event h4 {
    font-size: var(--font-reg-6);
    color: var(--white);
    background: var(--green-mid-2);
    font-weight: normal;
    padding: 1rem 1.5rem;
    letter-spacing: 0.22px;
    height: 103px;
    display: flex;
    align-items: center;
}

.section-five__event span {
    margin-right: 5%;
}

.section-five__event svg {
    height: 42px;
    width: 48px;
}

.section-five__event__content {
    font-size: var(--font-reg-2);
    padding: 2rem 1.5rem;
    background: var(--green-lightest);
    letter-spacing: 0.18px;
}

.section-five__event-end {
    margin: .5rem 0 1.5rem 0;
}

.section-five__event-more {
    font-size: var(--font-reg);
    position: relative;
    letter-spacing: 0.64px;
}

.section-five__event-more::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    background: var(--green-highlight);
    bottom: -40%;
    left: 0;
}

.section-five__event-more:hover::before {
    content: '';
    position: absolute;
    right: -25%;
    width: 30px;
    height: 30px;
    background: url('public/images/arrow-right.png');
}

.section-five__events__see-all {
    background: var(--salmon);
    height: 45px;
    width: 213px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
}

.section-six__content {
    margin-top: 3rem;
    font-size: var(--font-reg-6);
}

.section-six__content div {
    height: 247px;
    width: 241px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-six__content p {
    margin-top: 1.8rem;
}

.section-six__content__first {
    background: var(--green-darkest);
}

.section-six__content__first img {
    height: 102px;
}

.section-six__content__second {
    background: var(--plum);
}

.section-six__content__third {
    background: var(--blue-grey);
}

.section-six__content__fourth {
    background: var(--green-yellow);
}

/*Media Queries */
@media (max-width: 700px) {
    .header__photo-credit {
        width: 100%;
    }

    .section-one .d-flex {
        flex-direction: column;
    }

    .section-one__background--first {
        margin-bottom: 2rem;
    }

    .activities__container {
        flex-direction: column;
    }

    .activities__image {
        min-height: 350px;
        margin-left: 0;
    }
}

@media (max-width: 1300px) {
    .wrapper {
        width: 90%;
    }

    .header__logo {
        left: 0;
    }

    .header__nav {
        display: none;
    }

    .header__photo-credit {
        margin-right: 0;
    }

    .header__modal__button {
        position: absolute;
        right: 0;
        margin: .5rem;
        border: none;
        display: inline-block;
        cursor: pointer;
        padding: .5rem .5rem 0;
        border-radius: var(--border-radius);
        background: unset;
    }

    .header__modal__button svg {
        fill: var(--green-darkest);
    }

    .header__modal {
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        font-size: var(--font-reg-6);
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    .header__modal__content {
        background-color: var(--white);
        margin: auto;
        padding: 2rem;
        border: 1px solid #888;
        width: 80%;
    }

    .header__modal__close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .header__modal__close:hover,
    .header__modal__close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .header__modal__content ul {
        list-style: none;
        text-align: center;
        line-height: 2.25rem;
    }

    .header__modal__content--first {
        padding-top: 3rem;
    }

    .header__modal__content--second {
        padding: 3rem 0;
        position: relative;
    }

    .header__modal__content--second::before {
        position: absolute;
        content: '';
        height: 2px;
        width: 50%;
        top: 8%;
        right: 25%;
        background: var(--green-darkest);
    }

    .header__modal__content--first a, .header__modal__content--second a {
        padding: .25rem 1rem;
        border-radius: var(--border-radius);
    }

    .header__modal__content--first a:hover, .header__modal__content--second a:hover {
        background: var(--green-light);
        color: var(--white);
    }

    .section-one__intro {
        width: 80%;
    }

    .section-two__footprint--one, .section-two__footprint--two, .section-four__footprint--one, .section-four__footprint--two {
        display: none;
    }

    .activities__image, .activities__image--second {
        background-position: bottom;
    }

    .section-three__carousel::after {
        display: none;
    }

    .section-five__events {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-five__event {
        width: auto;
        margin-bottom: 2rem;
    }

    .section-six__content {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .section-six__content div {
        margin-bottom: 2rem;
    }
}