/*Font */
@font-face {
    font-family: 'Syntax LT Std Roman';
    src: url('public/fonts/SyntaxLTStd-Roman.otf');
}

/*Resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-colour);
}

body {
    font-family: 'Syntax LT Std Roman', sans-serif;
    color: var(--text-colour);
    font-size: var(--font-reg);
    max-width: 1460px;
    margin: auto;
}

/*Variables*/
:root {
    --white: #FFFFFF;
    --text-colour: #1A1A1A;
    --underline: #50CFC1;
    --btn-salmon: #FCCBAC;
    --blue-grey: #96A3CF;
    --light-blue-grey: #EAEDF5;
    --plum: #986987;
    --forest-green: #003D2A;
    --mid-forest-green: #397266;
    --logo-green: #53857F;
    --nav-green: #AACAC7;
    --footer-green: #5F877B;
    --font-reg: 16px;
    --font-reg-1: 17px;
    --font-reg-2: 18px;
    --font-reg-6: 22px;
    --font-med: 25px;
    --font-medx: 30px;
    --font-large: 35px;
    --font-largest: 50px;
    --border-radius: 4px
}

/*Utilities */
.wrapper {
    width: 70%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-2 {
    flex-basis: 49%;
}

.align-c {
    text-align: center;
}

/*Styles */
.header {
    display: flex;
    flex-direction: column;
    height: 745px;
    justify-content: space-between;
    background: url('public/images/background-large.png');
    background-size: cover;
}

.header__wrapper {
    position: relative;
}

.header__logo {
    background: var(--logo-green);
    display: inline-block;
    position: absolute;
    left: 15%;
    height: 130px;
    width: 130px;
    padding: 1rem;
}

.header__nav {
    background: var(--white);
    padding-right: 15%;
    letter-spacing: 0.16px;
    height: 50px;
    padding-left: 12%;
    margin-left: 15%;
}

.header__nav--main {
    background: var(--nav-green);
    font-size: var(--font-reg-2);
    letter-spacing: 0.18px;
    padding-left: 10%;
}

.header__nav__ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.header__nav li {
    padding: .15rem .6rem;
    border-radius: var(--border-radius);
    margin-left: 1rem;
}

.header__nav li:hover {
    background: var(--nav-green);
}

.header__nav--main li {
    margin-left: 2rem;
}

.header__nav--main li:hover {
    background: var(--white);
}

.header__welcome {
    text-align: center;
    font-size: var(--font-largest);
    color: var(--white);
    text-shadow: 0 3px 54px #0000007A;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.header__modal {
    display: none;
}

.header__modal__button {
    display: none;
}

.header__photo-credit {
    align-self: flex-end;
    margin-right: 15%;
    color: var(--white);
}

.header__photo-credit__icon {
    background: var(--mid-forest-green);
    padding: .5rem 0 0 .5rem;
}

.header__photo-credit__text {
    padding: 1.5rem 2rem;
    background: var(--forest-green);
    letter-spacing: 0.16px;
}

.section-one {
    margin-bottom: 5rem;
}

.section-one__intro {
    text-align: center;
    letter-spacing: 0.18px;
    font-size: var(--font-reg-2);
    width: 55%;
    margin: 3.4rem auto;
}

.section-one__background--first {
    background: url('public/images/section-one-background-1.jpg');
    background-size: cover;
}

.section-one__background--second {
    background: url('public/images/section-one-background-2.jpg');
    background-size: cover;
}

.section-one__small {
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-size: var(--font-reg-1);
    letter-spacing: 1.19px;
    color: var(--white);
}

.section-one__large {
    font-size: var(--font-large);
    padding-bottom: 2rem;
    color: var(--white);
}

.section-one__link {
    font-size: var(--font-reg-2);
    display: inline-block;
    margin-bottom: 3.4rem;
}

.section-one__link--green {
    background: var(--underline);
    padding: .75rem 2rem;
}

.section-one__link--salmon {
    background: var(--btn-salmon);
    padding: .75rem 1rem;
}

.section-two {
    background: var(--light-blue-grey);
    padding: 3rem 0;
}

.section-two__container {
    justify-content: flex-end;
}

.section-two__content {
    margin-bottom: 2rem;
    position: relative;
}

.section-two__intro {
    margin: 2rem 0;
    font-size: var(--font-reg-1);
    letter-spacing: 0.68px;
}

.section-two__footprint--one {
    position: absolute;
    left: -30%;
    bottom: 5%;
}

.section-two__activities {
    list-style: none;
    font-size: var(--font-medx);
    letter-spacing: 0.3px;
    margin-bottom: 2rem;
}

.section-two__activities li {
    position: relative;
    margin-bottom: .5rem;
}

.section-two__activities li:hover {
    text-decoration: underline;
    text-decoration-color: var(--underline);
    cursor: pointer;
}

.section-two__activities li:hover::before {
    content: '';
    position: absolute;
    left: -12%;
    width: 30px;
    height: 30px;
    background: url('public/images/arrow-right.png');
}

.section-two__all-activities {
    background: var(--btn-salmon);
    padding: .75rem 1rem;
}

.section-two__activity-image {
    background: url('public/images/lambing.jpg');
    background-size: cover;
    flex-basis: 50%;
    margin-left: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

.section-two__footprint--two {
    position: absolute;
    bottom: -15%;
    left: 20%;
}

.section-two__activity-link {
    background: var(--btn-salmon);
    padding: .75rem 1rem;
}











/*Media Queries */
@media (max-width: 700px) {
    .section-one .d-flex {
        flex-direction: column;
    }

    .section-one__background--first {
        margin-bottom: 2rem;
    }

    .section-two__container {
        flex-direction: column;
    }

    .section-two__activity-image {
        min-height: 350px;
        margin-left: 0;
    }
}

@media (max-width: 1300px) {
    .wrapper {
        width: 90%;
    }

    .header__logo {
        left: 0;
    }

    .header__nav {
        display: none;
    }

    .header__photo-credit {
        margin-right: 0;
    }

    .header__modal__button {
        position: absolute;
        right: 0;
        margin: .5rem;
        border: none;
        display: inline-block;
        cursor: pointer;
        padding: .5rem .5rem 0;
        border-radius: var(--border-radius);
        background: unset;
    }

    .header__modal__button svg {
        fill: var(--forest-green);
    }

    .header__modal {
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        font-size: var(--font-reg-6);
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    .header__modal__content {
        background-color: var(--white);
        margin: auto;
        padding: 2rem;
        border: 1px solid #888;
        width: 80%;
    }

    .header__modal__close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .header__modal__close:hover,
    .header__modal__close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .header__modal__content ul {
        list-style: none;
        text-align: center;
        line-height: 2.25rem;
    }

    .header__modal__content--first {
        padding-top: 3rem;
    }

    .header__modal__content--second {
        padding: 3rem 0;
        position: relative;
    }

    .header__modal__content--second::before {
        position: absolute;
        content: '';
        height: 2px;
        width: 50%;
        top: 8%;
        right: 25%;
        background: var(--forest-green);
    }

    .header__modal__content--first a, .header__modal__content--second a {
        padding: .25rem 1rem;
        border-radius: var(--border-radius);
    }

    .header__modal__content--first a:hover, .header__modal__content--second a:hover {
        background: var(--nav-green);
        color: var(--white);
    }

    .section-one__intro {
        width: 80%;
    }

    .section-two__footprint--one, .section-two__footprint--two {
        display: none;
    }
}